services:
  - class: Timeweb\PHPStan\Reflection\EnumMethodsClassReflectionExtension
    tags:
      - phpstan.broker.methodsClassReflectionExtension
  - class: Timeweb\PHPStan\Rule\EnumAlwaysUsedConstantsExtension
    tags:
      - phpstan.constants.alwaysUsedClassConstantsExtension
