parameters:
    level: max
    paths:
        - src
        - tests

    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#constructor invoked with#'
        - '#FunctionVariant constructor expects#'
        - '#Class PHPStan\\\\Testing\\\\PHPStanTestCase not found#'
