includes:
    - '%currentWorkingDirectory%/extension.neon'

parameters:
    level: max
    ignoreErrors:
        - identifier: missingType.generics
        - '#constructor invoked with#'
        - '#FunctionVariant constructor expects#'
